---
// Style Imports
import '../styles/global.css';
import '../styles/home.css';

// Component Imports
import Navigation from "../components/Navigation.svelte";
import ShoppingCart from "../components/ShoppingCart.svelte";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
	<style lang="scss">
		@import "../../node_modules/fluent-svelte/theme.css";
		:global(body) {
			background-color: var(--fds-solid-background-base);
			color: var(--fds-text-primary);
		}

		main {
			@apply grid h-full;
			grid-template-columns: 1fr 2fr 325px;
		}
	</style>
</head>
<body>
	<main>
		<div>
			<Navigation client:load />
		</div>
		<div></div>
		<div class="overflow-scroll h-full">
			<ShoppingCart client:load />
		</div>

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->
	</main>
</body>
</html>
