---
// Style Imports
import '../styles/global.css';
import '../styles/home.css';
// Component Imports
import ShoppingCart from "../components/ShoppingCart.svelte";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<div class="w-[325px]">
		<ShoppingCart />
		
		<fluent-toolbar appearance="dark" id="toolbar-fluent-components">
			<fluent-button appearance="accent">Accent Button</fluent-button>
			<fluent-button appearance="stealth">Stealth Button</fluent-button>
			<fluent-radio-group>
				<fluent-radio checked>One</fluent-radio>
				<fluent-radio>Two</fluent-radio>
				<fluent-radio>Three</fluent-radio>
			</fluent-radio-group>
			<fluent-combobox>
				<fluent-option>Please Please Me</fluent-option>
				<fluent-option>With The Beatles</fluent-option>
				<fluent-option>A Hard Day's Night</fluent-option>
				<fluent-option>Beatles for Sale</fluent-option>
				<fluent-option>Help!</fluent-option>
				<fluent-option>Rubber Soul</fluent-option>
				<fluent-option>Revolver</fluent-option>
				<fluent-option>Sgt. Pepper's Lonely Hearts Club Band</fluent-option>
				<fluent-option>Magical Mystery Tour</fluent-option>
				<fluent-option>The Beatles</fluent-option>
				<fluent-option>Yellow Submarine</fluent-option>
				<fluent-option>Abbey Road</fluent-option>
				<fluent-option>Let It Be</fluent-option>
			</fluent-combobox>
			<fluent-button>Button</fluent-button>
			<fluent-select>
				<fluent-option>Option 1</fluent-option>
				<fluent-option>Second option</fluent-option>
				<fluent-option>Option 3</fluent-option>
			</fluent-select>
			<fluent-checkbox>Checkbox</fluent-checkbox>
			</fluent-toolbar>
			<fluent-toolbar id="toolbar-fluent-components-two">
			<fluent-radio-group>
				<fluent-radio checked>Add</fluent-radio>
				<fluent-radio>Open</fluent-radio>
				<fluent-radio>Export</fluent-radio>
				<fluent-radio>Automate</fluent-radio>
			</fluent-radio-group>
			<fluent-button appearance="stealth">Stealth</fluent-button>
			<fluent-button appearance="accent">Refresh</fluent-button>
			<fluent-badge>21 items</fluent-badge>
			<fluent-radio-group>
				<fluent-radio>Filter</fluent-radio>
				<fluent-radio>
				<fluent-text-field placeholder="Search"></fluent-text-field>
				</fluent-radio>
			</fluent-radio-group>
		</fluent-toolbar>

	</div>
	<main>

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->
	</main>
	<script hoist type="module">
		import "../fluent-ui.mjs";
	</script>
</body>
</html>
