---
// Style Imports
import '../styles/global.css';
import '../styles/home.css';

// Component Imports
import Navigation from "../components/Navigation.svelte";
import ShoppingCart from "../components/ShoppingCart.svelte";
import Content from "../components/Content.svelte";

import { TextBlock, Button } from "fluent-svelte";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
	<style lang="scss">
		@import "../../node_modules/fluent-svelte/theme.css";
		:global(body) {
			background-color: var(--fds-solid-background-base);
			color: var(--fds-text-primary);
		}

		.layout {
			@apply px-4 pb-4;
			@apply grid gap-6 h-full;
			grid-template-columns: 225px auto 325px;
		}
	</style>
</head>
<body>
	<div class="p-8 text-center">
		<Button  variant="hyperlink">
			<TextBlock variant="title">Online Shopping System</TextBlock>
		</Button>
	</div>
	<div class="layout">
		<div class="px-4">
			<Navigation client:load />
		</div>

		<main class="pt-4">
			<Content client:load />

			<!--

			You can also use imported framework components directly in your markup!
			
			Note: by default, these components are NOT interactive on the client.
			The `:visible` directive tells Astro to make it interactive.
			
			See https://docs.astro.build/core-concepts/component-hydration/ 

			-->
		</main>

		<div>
			<ShoppingCart client:load />
		</div>
	</div>
</body>
</html>
